{
  "development" : {
    "GITHUB_BASE_URL": "http://localhost:3005",
    "GITHUB_CLIENT": "",
    "GITHUB_SECRET": "",
    "SESSION_SECRET": "meltedpot",
    "REDIS_HOST": "localhost",
    "REDIS_PORT": "6379",
    "REDIS_TTL": "260"
  }
}
