.git-user-img
  img(ng-src="{{globalState.user.avatar_url}}" )
  p
  span() Welcome,&nbsp;
  span(ng-bind="globalState.user.login")

.git-repo-areas
  h1
    Github Repositories
  .git-repo( ng-repeat="repo in globalState.user.repos()" ng-controller="ListItemCtrl" )
    li
      .repo-name
        a(ng-bind="repo.full_name" ng-href="{{repo.html_url}}"  )
      .repo-fork_from
        span( ng-bind="repo.parent.fullname" )
      .repo-description
        span( ng-bind="repo.description" )
      .repo-inline
        span(ng-if="repo.language")
          span.repo-language-color(ng-style="{'background-color':repo.language_color}")
          span.repo-language(ng-bind = "repo.language")
        span.repo-fork-count(ng-if="repo.forks_count !== 0")
          svg(aria-label="fork" class="octicon octicon-repo-forked" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10")
            path(fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z")
          span.repo-forkcount(ng-bind="repo.forks_count")
        span() Updated&nbsp;
        span.repo-time(am-time-ago="repo.updated_at")
        button(ng-click ="getNotifications(repo)") Notifications
        p
        .box-group(ng-repeat= "notification in subjectlist")
          span() &nbsp;
          span.notification-type(ng-bind="notification.subject.type")
          span() :
          span.notification-title(ng-bind="notification.subject.title")


